<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager" />
        <property name="loginUrl" value="/login.htm"/>
        <property name="successUrl" value="/index.htm"/>
        <property name="unauthorizedUrl" value="/403.htm" />
        <property name="filterChainDefinitions">
            <value>
                /logout* = anon
                /login* = anon
                /index.htm = anon
                /error/** = anon
                /** = menu
            </value>
        </property>
        <property name="filters">
           <util:map>
              <entry key="menu" value-ref="menuFilter"/>
           </util:map>
       </property>
    </bean>
    
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">  
        <property name="realm" ref="userRealm" />  
    </bean>
    
    <bean id="userRealm" class="com.utpscm.amitabha.shiro.token.UserRealm"/>
    
    <bean id="menuFilter" class="com.utpscm.amitabha.shiro.filter.MenuFilter"/>

</beans>
